<div style="font-family: Arial, sans-serif;">
    <ul style="padding-inline-start: 15px; line-height: 1.5">
        <li><a href="http://127.0.0.1:5500/index.html">Trang chủ</a></li>
        <li><a class="reference" href="../references/form1.html">Mục 1</a></li>
        <li><a class="reference" href="../references/form2.html">Mục 2</a></li>
        <li><a class="reference" href="../references/form3.html">Mục 3</a></li>
        <li><a class="reference" href="../references/form4.html">Mục 4</a></li>
        <li><a class="reference" href="../references/form5.html">Mục 5</a></li>
    </ul>
</div>