<style>
    .table-wrapper {
        font-family: Arial, sans-serif;
    }
    
    table {
        font-weight: bold;
        border-collapse: separate;
        border-spacing: 0 15px;
    }
    
    th {
        text-align: center;
        color: white;
    }
    
    td {
        text-align: left;
        padding: 5px;
    }
</style>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th><a href="/index.html" target="_parent">Trang chủ</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="../references/form1.html" target="main-content">
                    Login</a></td>
            </tr>
            <tr>
                <td><a href="../references/form2.html" target="main-content">
                    Form</a></td>
            </tr>
            <tr>
                <td><a href="../references/form3.html" target="main-content">
                    Web</a></td>
            </tr>
            <tr>
                <td><a href="../references/form4.html" target="main-content">
                    Change background</a></td>
            </tr>
            <tr>
                <td><a href="../references/form5.html" target="main-content">
                    Capitalize text</a></td>
            </tr>
        </tbody>
    </table>
</div>